* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    padding: 20px 20px 20px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2c2d3c;
    color: hsl(182, 77%, 34%);
}

.header h1 {
    background-color: hsl(182, 77%, 34%);
   color: #2c2d3c;
    display: inline-block;
    
}

#name {
    padding-left: 40px; 
}
.header section {
    color: hsl(182, 77%, 34%);
    float: right;
    
}

ul {
    display: flex;
    list-style: none;
    padding: 10px 5px 5px 5px;
    text-underline-offset: 5px;
}

li {
    padding-right: 20px;
}

a {
    color: hsl(182, 77%, 34%); 
}

main {
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
